<div class="about-container prose lg:prose-xl m-12">
  <h1>About</h1>
  <p>
    <fa-duotone-icon
      [icon]="faPopcorn"
      [fixedWidth]="true"
      [animation]="'bounce'"
      primaryColor="#d40c0c"
      secondaryColor="#e9e921"
      secondaryOpacity="1"
    ></fa-duotone-icon>
    <strong>ChessPop</strong> is a fun, interactive way to watch chess games in
    3D—like bringing the board to life right in your browser.
    <b>Grab some popcorn, sit back, and enjoy the show!</b>
  </p>
  <p>
    If you’re enjoying Chesspop and want to support the project, you can
    <a href="https://github.com/unicolored/chesspop.live" target="_blank"
      >sponsor</a
    >
    it! Every little bit helps keep the chess popping!
  </p>

  <h2>Get in Touch</h2>
  <p>
    Chesspop uses a cool 3D view powered by
    <a href="https://www.npmjs.com/package/chessfield" target="_blank"
      >Chessfield</a
    >
    package.
  </p>

  <p>
    Got ideas or feedback?
    <a href="https://github.com/unicolored/chesspop.live/issues" target="_blank"
      >Drop an issue on GitHub</a
    >.
  </p>

  <p class="mt-8 text-sm">
    Built with love for chess lovers everywhere. Enjoy the games!
  </p>
</div>
