.players-wrap {
  width: 80vw;
}
.chessfield-wrap {
  width: 80vw;
  height: 70vh;
  display: flex;
  border-radius: 33px;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(100, 100, 100, 0.5);
}

//.chessfield {
//  width: 80vw;
//  height: 70vh;
//  display: flex;
//  border-radius: 33px;
//  overflow: hidden;
//  box-shadow: 0 8px 30px 0 rgba(100, 100, 100, 0.5);
//}
