@defer {
  <div class="live-ui">
    <section class="chesspop-field">
      <div class="chessfield-wrap" #chessfield></div>

      <app-players
        [players]="playersComputed()"
        (emitCameraCol)="updateCamera($event)"
      ></app-players>
    </section>

    <aside class="sidebar">
      <header>
        <p><small>Select a channel. Wait for next move.</small></p>
        <hr class="my-2" />
        @for (liveFeed of liveService.liveList; track liveFeed.url) {
          <button
            [class.active]="this.selectedLiveFeed === liveFeed.feed"
            (click)="loadChannel(liveFeed.feed)"
          >
            {{ liveFeed.platform }} - {{ liveFeed.type }}
          </button>
        }
      </header>

      <footer>
        <p>Use your mouse to drag the camera around.</p>
        <strong>Grab some pop 🍿 Enjoy the&nbsp;show!</strong>
      </footer>
    </aside>
  </div>
} @loading (minimum 1s; after 500ms) {
  <p>Loading ChessPop.</p>
} @error {
  <p>Failed to pop.</p>
}
