<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <a class="btn btn-ghost border-0 text-xl" href="/">
      <fa-duotone-icon
        [icon]="faPopcorn"
        [fixedWidth]="true"
        [animation]="streamService.isLoading() ? 'bounce' : undefined"
        primaryColor="#d40c0c"
        secondaryColor="#e9e921"
        secondaryOpacity="1"
      ></fa-duotone-icon>
      ChessPop
    </a>
    <a class="btn btn-ghost border-0 text-xl" href="/">Live</a>
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end">
    <app-theme-toggle class="mr-2"></app-theme-toggle>
  </div>
</div>

<div class="m-auto w-[92vw]">
  <router-outlet />
</div>
